.layout {
  display: grid;
  grid-template-columns: auto 4fr;
  grid-template-rows: 70px 1fr;
  background-color: #f8f9fa;
  height: 100vh;

  main {
    padding: 10px 25px;
    grid-column: 2;
    grid-row: span;
    width: 100%;
    background-color: #f8f9fa;
  }
}
